@page "/Experiencia"
@using Microsoft.Extensions.Localization
@using CVUSV.Locales;
@using System.Globalization
@inject IStringLocalizer<Resources> localizer

<PageTitle>@localizer["MenuExp"]</PageTitle>

@code {
    IStringLocalizer<Resources> _localizer;
    string bestdaywork = string.Empty;
    string nextawork = string.Empty;
    string kinichwork = string.Empty;
    string engenwork = string.Empty;
    string mylastwork = string.Empty;
    string mybestday = string.Empty;
    protected override void OnInitialized()
    {
        bestdaywork = localizer["dataworkBestDay"];
        nextawork = localizer["dataWorkNexta"];
        kinichwork = localizer["dataWorkKinich"];
        engenwork = localizer["dataWorkEngen"];
        // mylastwork = localizer["lbllastwork"];
        // mybestday = localizer["lblbestdaywork"];
        base.OnInitialized();
    }
}

<div class="table-users">
    <div class="header">@localizer["MenuExp"]</div>
    <table cellspacing="0">
        <tr>
            <th width="10%">@localizer["lblproject"]</th>
            <th width="10%">@localizer["lbldate"]</th>
            <th width="10%">@localizer["lblDesc"]</th>
            <th width="70%">@localizer["lblAct"]</th>
        </tr>
        <tr>
            <td>Engen</td>
            <td>1-24 / 10-24</td>
            <td>@localizer["lblw2"]</td>
            <td>
                @((MarkupString)engenwork)
              
                @*  <ul>
                    <li>Análisis de código fuente y aprobaciones con DevOps            </li>
                    <li>Soporte a la operación                                         </li>
                    <li>Aprovisionamiento de servicios web                             </li>
                    <li>Liderazgo de proyectos                                         </li>
                    <li>Diseño de propuestas para mejoramiento de operación            </li>
                    <li>Apoyo a desarrolladores                                        </li>
                    <li>Seguimiento a desarrollo de productos                          </li>
                    <li>Seguimiento a despliegues Dev, QA, PRO y Staging               </li>
                    <li>Desarrollo de microservicios Java Springboot                   </li>
                    <li>Automatizacion de tickets en jira                     </li>
                    <li>Implementacion de Vault </li>
                    <li>Diseño de arquitectura para Ciencia de datos e inteligencia de negocios </li>
                    <li>Análisis de sistemas desarrollados en aws services</li>
                    <li>Desarrollo terraform aws</li>
                    <li>Desarrollo lambda Python</li>
                    <li>Diseño de arquitectura serverless DDD</li>
                    <li>Uso de SQS</li>
                    <li>Uso servicios aws</li>
                    <li>Implementación de integraciones.</li>
                    <li>Pruebas</li>

                </ul> *@
            </td>
        </tr>

 


        @*
        <tr>
        <td>Invex Renacer</td>
        <td>07-24 / 5-24</td>
        <td>@localizer["lbw1"]</td>
        <td> @((MarkupString)myMarkup)</td>
        </tr>
        *@

        <tr>
            <td>Kinich Software</td>
            <td>10-23 / 1-24</td>
            <td>@localizer["lblw2"]</td>
            <td>
                
                @((MarkupString)kinichwork)


            </td>
        </tr>

        <tr>
            <td>Nexta</td>
            <td>11-21 / 10-23</td>
            <td>@localizer["lblw2w"]</td>
            <td> @((MarkupString)nextawork)</td>
        </tr>
        <tr>
            <td>BestDay</td>
            <td>11-19 / 10-21</td>
            <td>@localizer["lblw2w"]</td>
            <td> @((MarkupString)bestdaywork)</td>
        </tr>

        @* <tr>

            <td>@localizer["lbloter"]</td>
            <td>2007 / 2018</td>
            <td>@localizer["lbg5"]</td>
            <td> @((MarkupString)myMarkup4)</td>
        </tr> *@
    </table>
</div>



