@page "/Habilidades"
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.Extensions.Localization
@using CVUSV.Locales;
@using System.Globalization
@inject IStringLocalizer<Resources> localizer



<PageTitle>@localizer["MenuConocimientos"]</PageTitle>
 
<div class="table-users">
    <div class="header">@localizer["MenuConocimientos"]</div>
    <table class="ck-table-resized">
        
        <tbody>
               <tr>

                   <th>@localizer["lblrama"]</th>
                         <th>@localizer["lbltec"]</th>
                   </tr>
            <tr>
                <td>@localizer["lbl1"]</td>
                <td>
                    <ul>
                        <li>C# NET 1 a 9</li>
                        <li>Java 1 a 18</li>
                        <li>JavaScript</li>
                        <li>Python</li>
                        <li>VB 5,6 .NET</li>
                        <li>TypeScript</li>
                        <li>PHP</li>
                    </ul>
                </td>
            </tr>
            <tr>
          
                <td>@localizer["lbl2"]</td>
                <td>
                    <ul>
                        <li>.NET MAUI</li>
                        <li>Android Studio</li>
                        <li>Flutter</li>
                        <li>Xamarin</li>
                    </ul>
                </td>
            </tr>

             <tr>
          
                <td>@localizer["lbarchi"]</td>
                <td>
                    <ul>
                        <li>Hexagonal</li>
                        <li>Serverless</li>
                        <li>Microservicios</li>
                        <li>SOA</li>
                    </ul>
                </td>
            </tr>
            <tr>
          
                <td>@localizer["lbmet"]</td>
                <td>
                    <ul>
                        <li>D.D.D</li>
                        <li>T.D.D</li>
                        <li>B.D.D</li>
                        
                    </ul>
                </td>
            </tr> <tr>
          
                <td>@localizer["lblsoa"]</td>
                <td>
                    <ul>
                        <li>Apache Server</li>
                                <li>Apache TomCat</li>
                                <li>WildFly, JBoss</li>
                        <li>IIS</li>
                        <li>Nginx Reverse Proxy</li>
                        <li>Kestrel</li>
                        <li>GlassFish</li>
                        <li>Oracle WebLogic</li>
                    </ul>
                </td>
            </tr>
            <tr>
             
                <td>@localizer["lbl3"]</td>
                <td>
                    <ul>
                        
                        <li>Dependency Injection e IoC </li>
                        <li>MVC </li>
                        <li>MVVM </li>
                        <li>Circuit Braker </li>
                        <li>Fan in Fan Out (Durable Functions) </li>
                        <li>MVP </li>
                        <li>Factory </li>
                        <li>Iterator </li>
                        <li>Proxy </li>
                        <li>Builder </li>
                        <li>Adapter </li>
                        <li>Chain of Responsibility </li>
                        <li>Bridge</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>@localizer["lbl4"]</td>
              
                <td>
                    <ul>
                        <li>SOLID </li>
                        <li>YAGNI</li>
                        <li>DRY</li>
                        <li>KISS</li>
                       
                    </ul>
                </td>
            </tr>  <tr>

                <td>Models & methodologies</td>
                <td>
                    <ul>
                         <li>Scrum Agile</li>
                        <li>CMMI 3</li>
                        <li>Six Sigma</li>
                        
                    </ul>
                </td>

                </tr>
                
            <tr>
              
                <td>@localizer["lbl5"]</td>
                <td>
                    <ul>
                        <li>Entity Framework </li>
                        <li>Dapper Bot</li>
                        <li>NET Framework </li>
                        <li>NET Blazor </li>
                        <li>ExpressJS </li>
                        <li>Django</li>
                        <li>SpringBoot</li>
                           <li>Apache Maven</li>
                    </ul>
                </td>
            </tr>
            <tr>
            
                <td>@localizer["lbl6"]</td>
                <td>
                    <ul>
                        <li>Bit Bucket </li>
                        <li>GITHub </li>
                        <li>GitLab </li>
                        <li>Team Services </li>
                        <li>SVN Tortoise </li>
                        <li>Microsoft Source Safe</li>
                        <li>GitHub</li>
                    </ul>
                </td>
            </tr>
            <tr>
              

                <td>@localizer["lbl7"]</td>

                <td>
                    <ul>
                        <li>Jenkins</li>
                        <li>CodeBuild</li>
                        <li>ArgoCD GitOps</li>
                        <li>MAMBU</li>
                        <li>Azure DevOps</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>@localizer["lbl8"]</td>
                <td>
                    <ul>
                        <li>jQuery </li>
                        <li>Razor </li>
                        <li>Blazor (Web Assembly) </li>
                        <li>Angular </li>
                        <li>Bootstrap </li>
                        <li>ReactJs </li>
                        <li>NextJs </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>@localizer["lbl9"]</td>
                <td>
                    <ul>
                    <li>Jira</li>
                    <li>Terraform</li>
                    <li>Istio</li>
                    <li>Graphana</li>
                    <li>Kibana</li>
                    <li>Docker </li>
                    <li>CMS (Umbraco, WordPress)</li>
                    <li>Elastic Search </li>
                    <li>Crystal Reports</li>
                    <li>Reporting Services </li>
                    <li>Integration Services </li>
                    <li>Enterprise architect</li>
                    <li>Post Man </li>
                    <li>PowerShell</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>@localizer["lbl10"]</td>
            
                <td>
                    <ul>
                        <li>SQL Server </li>
                        <li>SyBase </li>
                        <li>MySql </li>
                        <li>MongoDB </li>
                        <li>Oracle </li>
                        <li>SQL Lite</li>
                         
                    </ul>
                </td>
            </tr>
            <tr>
                <td>@localizer["lbl11"]</td>
                <td>
                    <ul>
                        <li>Windows 11 </li>
                        <li>Windows IoT </li>
                        <li>Solaris 11,  </li>
                        <li>Windows Server Core </li>
                        <li>Linux Ubuntu Server, CentOs</li>
                        <li>OS X</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>@localizer["lbl12"]</td>
                <td>
                    <ul>
                        <li>JMeter Low Test;</li>
                        <li>Accunetix </li>
                        <li>MSTest </li>
                        <li>Xunit </li>
                        <li>SmokeTest</li>
                        <li>AppCenter</li>
                        <li>SonarQube</li>
                        
                    </ul>
                </td>
            </tr>
            <tr>
                <td>@localizer["lbl13"]</td>
                <td>
                    <ul>
                        <li>RabbitMQ</li>
                        <li>Kafka Zookeper</li>
                        <li>PubSub</li>
                        <li>Azure Service Bus</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>Reportes</td>
                <td>
                    <ul>
                        <li>PowerBI </li>
                        <li>Cristal Reports </li>
                        <li>Extracción de datos con Informática  y ETL´s</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>@localizer["lbl14"]</td>
                <td>
                    <ul>
                        <li>KeyCloack</li>
                        <li>Auth0</li>
                        <li>Identity Server</li>
                        <li>Cognito</li>
                        <li>Active Directory</li>
                        <li>CloudFlare</li>
                        <li>HashiCorp Vault</li>
                            <li>OWASP BestPractices</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>@localizer["lbl15"]</td>
                <td>
                    <ul>
                        <li>Service Bus</li>
                        <li>Functions</li>
                        <li>Storage</li>
                        <li>API Management</li>
                        <li>SQL Azure</li>
                        <li>Virtual Machines</li>
                        <li>Cosmos DB</li>
                        <li>App Service</li>
                        <li>AKS</li>
                        <li>Service Fabric</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>@localizer["lbl16"]</td>
                <td>
                    <ul>
                        <li>SQL RDS</li>
                        <li>EventBridge</li>
                        <li>Step Functions</li>
                        <li>API Gateway</li>
                        <li>EKS</li>
                        <li>ECS</li>
                        <li>EC2</li>
                        <li>App Runner</li>
                        <li>VPC</li>
                        <li>ECR</li>
                        <li>CodeBuild</li>
                        <li>CodeDeploy</li>
                        <li>CloudFront</li>
                        <li>CloudWatch</li>
                        <li>Lambda</li>
                        <li>Fargate</li>
                        <li>S3</li>
                        <li>SQS</li>
                        <li>Kinesis</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>@localizer["lbl17"]</td>
                <td>
                    <ul>
                        <li>Cloud Run</li>
                        <li>Big Query</li>
                        <li>Cloud Storage</li>
                        <li>Compute Engine</li>
                        <li>GKE</li>
                        <li>Cloud SQL</li>
                        <li>Cloud CDN</li>
                        <li>Cloud Functions</li>
                        <li>Apigee</li>
                        <li>Vision AI</li>
                        <li>Video AI</li>
                    </ul>
                </td>
            </tr>
              <tr>
                <td>Digital Ocean</td>
                <td>
                    <ul>
                        <li>VPS Services</li>
                                                <li>Container Registry</li>
                                                <li>IoT</li>
                                                <li>Security</li>
                                                <li>Web Hosting</li>  
                                                <li>BlockChain</li>
                                                <li>Web Hosting</li>
                    </ul>
                </td>
            </tr>
                    <tr>
                <td>Firebase</td>
                <td>
                    <ul>
                        <li>Links</li>
                        <li>Realtime Database</li>
                        <li>Push Notifications</li>
                        <li>Storage</li>
                        <li>Messaging</li>
                        <li>Authentication</li>
                        <li>Realtime Analytics</li>
                        
                    </ul>
                </td>
            </tr>


            <tr>
                <td>IA</td>
                <td>
                    <ul>
                        <li>Chat GPT</li>
                        <li>Flow GPT</li>
                        <li>Tensor Flow</li>
                        <li>Video AI (Vertex AI)</li>
                    </ul>
                </td>
            </tr>


                <tr>
                <td>Block Chains - Cryptocurrency</td>
                <td>
                    <ul>
                        <li>Cluster NiceHash</li>
                        <li>FileCoin</li>
                        <li>CoinBase</li>
                        <li>Ethereum</li>
                        <li>BitCoin</li>
                        <li>PolkaDot</li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
 </div>