@page "/Experiencia"
@using Microsoft.Extensions.Localization
@using CVUSV.Locales;
@using System.Globalization
@inject IStringLocalizer<Resources> localizer

 

<PageTitle>@localizer["MenuExp"]</PageTitle>


<h1>@localizer["MenuExp"]</h1>
 
<br />

<figure class="table" style="width:80.9%;">
     <table class="ck-table-resized">
        <colgroup>
            <col style="width:25.51%;">
            <col style="width:21.75%;">
            <col style="width:52.74%;">
        </colgroup>
        <tbody>
            <tr>
                <td><strong>@localizer["lblproject"]</strong></td>
                <td><strong>@localizer["lbldate"]</strong></td>
                <td><strong>@localizer["lblDesc"]</strong></td>
            </tr>
            <tr>
                <td>Arquitecto Preventa en EON, CDMX</td>
                <td>04/2023—08/2023</td>
                <td>Trabajé con una visión estratégica y un enfoque práctico para entrega de propuestas para el área de software Delivery para potenciales clientes generando pruebas de concepto y aprovisionamiento de servicios en la nube de Google</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td colspan="2"><strong>Actividades</strong></td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td colspan="2">
                    <ul style="list-style-type:disc;">
                        <li>Análisis de Requerimientos para posibles clientes para el área de Preventa.&nbsp;</li>
                        <li>Diseño de arquitecturas escalables basadas principalmente en Google Cloud.&nbsp;</li>
                        <li>Desarrollar demos en Angular, ASP.NET C#, NodeJS, Java y Python para propuestas de desarrollo para clientes potenciales.&nbsp;</li>
                        <li>Aprovisionamiento de servicios dentro de la nube de GCP para pruebas de concepto.&nbsp;</li>
                        <li>Estimación de proyectos tecnológicos para propuestas de &nbsp;requerimientos (RFPs) como insumo para el área de Delivery.&nbsp;</li>
                        <li>Desarrollo de conector API para Core Bancario MAMBU. Uso de Google Cloud Functions, Google WorkFlows, Cloud Vision, Compute Engine. APIGee,WAF</li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
</figure>

<hr  style="border-width:2px;color:red;border-style:solid" />
<br />
<figure class="table" style="width:80.9%;">
    <table class="ck-table-resized">
        <colgroup>
            <col style="width:25.51%;">
            <col style="width:21.75%;">
            <col style="width:52.74%;">
        </colgroup>
        <tbody>
            <tr>
                <td><strong>@localizer["lblproject"]</strong></td>
                <td><strong>@localizer["lbldate"]</strong></td>
                <td><strong>@localizer["lblDesc"]</strong></td>
            </tr>
            <tr>
                <td>Desarrollo de aplicación en Independiente, CDMX</td>
                <td>10/2022—04/2023</td>
                <td>Desarrollo de una aplicación multiplataforma que integra un botón de pánico el cual avisa a tus contactos de confianza cuando una usuaria se encuentra en peligro, integra un directorio telefónico con las dependencias de gobierno contra la prevención de delitos contra la mujer y atención psicológica.</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td colspan="2"><strong>Actividades</strong></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td colspan="2">
                    <ul>
                        <li>Diseño de arquitectura física y lógica sobre Azure y Firebase.</li>
                        <li>Diseño de base de datos Realtime.</li>
                        <li>Desarrollo de una aplicación mulltiplataforma con NET MAUI C# para venta a sector privado</li>
                        <li>Publicación en la tienda de Apple y Android</li>
                        <li>Aprovisionamiento de infraestructura para DevOps con Azure Cloud.&nbsp;</li>
                        <li>Aprovisionamiento de Cluster de Kubernetes.&nbsp;</li>
                        <li>Programación de scripts en terraform para aprovisionamiento de servicios en Azure Cloud(Service Bus, Azure Functions, SignalR,KeyVault, Storage, API Management Dockerizacion de servicios.&nbsp;</li>
                        <li>Programación de Web API .NET gRPC C# para manejo de información de usuario. Programación de métodos para manejo de Firebase storage.&nbsp;</li>
                        <li>Programación de métodos para Firebase RealTime DataBase.&nbsp;</li>
                        <li>Programación de métodos de autenticación en Firebase.&nbsp;</li>
                        <li>Programación de métodos para uso de notificaciones push.&nbsp;</li>
                        <li>Programación de conector API para uso de chatGPT.&nbsp;</li>
                        <li>Programación de funciones Lambda.&nbsp;</li>
                        <li>Programación de conector para Azure Service Bus.</li>
                        <li>&nbsp;Programación de funciones para manejo de Mensajería(Queues y Topics) .&nbsp;</li>
                        <li>Implementación de Observabilidad con Graphana, Jaegger e Istio.&nbsp;</li>
                        <li>Implementación de patrón MVVM. Uso de GCP CLI para uso de notificaciones push</li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
 </figure>

<hr style="border-width:2px;color:red;border-style:solid" />
<br />
<figure class="table" style="width:80.9%;">
    <table class="ck-table-resized">
        <colgroup>
            <col style="width:25.51%;">
            <col style="width:21.75%;">
            <col style="width:52.74%;">
        </colgroup>
        <tbody>
            <tr>
                <td><strong>@localizer["lblproject"]</strong></td>
                <td><strong>@localizer["lbldate"]</strong></td>
                <td><strong>@localizer["lblDesc"]</strong></td>
            </tr>
            <tr>
                <td>Arquitecto de software en Nexta Technology, Monterrey</td>
                <td>11/2019—10/2022</td>
                <td>Asignación a diferentes clientes de consultora, HEB, Anfora, Cklass.</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td colspan="2"><strong>Actividades</strong></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td colspan="2">
                    <ul>
                        <li>Diseño de arquitectura backend para sistema de comercio electrónico de cadena comercial HEB Monterrey. Diseño de arquitectura backend y frontend para Ticket Digital HEB.&nbsp;</li>
                        <li>Diseño de arquitectura backend y frontend para Cklass&nbsp;</li>
                        <li>Diseño de arquitectura física y lógica para el desarrollo del nuevo sistema de ventas en línea de la cadena comercial HEB, se diseñó la operación entre servicios para conectar las ventas y disponibilidad de productos de las 38 tiendas que operan en la ciudad de monterrey, mejorando la experiencia de usuarios al momento de comprar en línea desde la aplicación o portal web.</li>
                        <li>Diseño de arquitectura física y lógica para él envió de los tickets de forma digital al momento de pagar en cajas, el usuario podrá recibir en su celular un enlace con el ticket de su compra en caso de que lo desee.&nbsp;</li>
                        <li>Diseño de arquitectura física y lógica para el desarrollo del sistema de ventas online de la empresa cklass, se generó una reingeniería de los canales de ventas ,web, móvil y administración.&nbsp;</li>
                        <li>Coordinación de equipo y asignación de tareas en metodología Ágil Kanban.&nbsp;</li>
                        <li>Desarrollo de pruebas de concepto para servicios de AWS&nbsp;</li>
                        <li>Aprovisionamiento de ambiente DevOps con GitLab, Docker, ArgoCD, Jenkins.&nbsp;</li>
                        <li>Pruebas de Conceptos para los servicios de AWS.&nbsp;</li>
                        <li>Desarrollo de mecanismos de Seguridad para microservicios.</li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
 </figure>