@using Microsoft.Extensions.Localization
@using CVUSV.Locales;
@using System.Globalization;
@inject IStringLocalizer<Resources> localizer

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Ulises Sandria</a>
    </div>
</div>


@* MenuCertificaciones	Certificaciones
MenuConocimientos	MenuConocimientos
MenuContacto	Contacto
MenuExp	Experiencia
MenuReferencias	Referencias *@

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> @localizer["MenuHome"]
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Experiencia" Match="NavLinkMatch.All">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> @localizer["MenuExp"]
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Habilidades">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> @localizer["MenuConocimientos"]
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Certificaciones" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> @localizer["MenuCertificaciones"]
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Referencias">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> @localizer["MenuReferencias"]
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Contacto">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> @localizer["MenuContacto"]
            </NavLink>
        </div>
    </nav>
</div>

